.toDoItemContainer {
  display: flex;
  align-items: center;
}

.toDoItemText {
  margin-left: 5px;
  margin-right: 5px;
}

.newToDoItemContainer {
  margin-top: 10px;
}

.container {
  display: flex;
  justify-content: center;
}